@model LargeProducerRegisterViewModel

@using FrontendObligationChecker.Constants
@using FrontendObligationChecker.Models.Config
@using Microsoft.Extensions.Options
@inject IOptions<ExternalUrlsOptions> ExternalUrls;

@{
	ViewData["Title"] = Localizer["LargeProducerRegister.Title"];
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-l">@Localizer["LargeProducerRegister.Title"]</h1>

				<h2 class="govuk-heading-m">@Localizer["LargeProducerRegister.RegisterOfProducers"]</h2>
				<p class="govuk-body">@Localizer["LargeProducerRegister.RegisterOfProducersDescription"]</p>
				<ul class="govuk-list">
					@foreach (var file in Model.RegisterOfProducers)
					{
						<li>
							<a href="@file.DownloadUrl" class="govuk-link govuk-link--no-visited-state">@Localizer["LargeProducerRegister.RegisterOfProducersFile", file.ReportingYear, file.DisplayFileSize]</a>
						</li>
					}
				</ul>

				<h2 class="govuk-heading-m">@Localizer["LargeProducerRegister.ListOfLargeProducers"]</h2>
				<p class="govuk-body">@Localizer["LargeProducerRegister.ListOfLargeProducersDescription"]</p>
				<ul class="govuk-list">
					@foreach (var file in Model.ListOfLargeProducers)
					{
						<li>
							<a href="@file.DownloadUrl" class="govuk-link govuk-link--no-visited-state">@Localizer["LargeProducerRegister.ListOfLargeProducersFile", file.ReportingYear, file.DisplayFileSize]</a>
						</li>
					}
				</ul>

                <p class="govuk-body">
                    @Localizer["LargeProducerRegister.ViewPreviousYears"]<a href=@ExternalUrls.Value.NpwdRegister class="govuk-link">@Localizer["LargeProducerRegister.NPWDLinkText"]</a>@Localizer["LargeProducerRegister.NPWDPostLink"]
                </p>

				<h2 class="govuk-heading-m">@Localizer["LargeProducerRegister.Disclaimer"]</h2>
				<p class="govuk-body">@Localizer["LargeProducerRegister.TheListsShowTheInformation"]</p>
				<p class="govuk-body">@Localizer["LargeProducerRegister.IfYoureUnsureAboutAnything"]</p>
			</div>
		</div>
	</main>
</div>
